extends layout

block content


    h1 Contact
    div
        ul
            li Meuleschettestraat 32, 9300 Aalst
            li chiro.maeva@gmail.com
    p
        | Indien u nog vragen hebt, kan u deze hier indienen en zullen wij deze proberen beantwoorden!
        // Nog vragen wat we precies moeten doen
    form.container(method='POST' action='')
        div.form-group
            label(for='email') Email:
            input#email.form-control(type='email', placeholder='Email' name='email' required='true' )
        div.fomr-group
            label(for='vraag') Vraag:
            input#vraag.form-control(type='text', placeholder='Uw vraag' name='vraag' required='true')
        button.btn.btn-primary(type='submit') Submit


    h2.card-head Nog vragen?
    p
        | Indien u nog vragen hebt, kan u deze hier indienen en zullen wij deze proberen beantwoorden!
        // Nog vragen wat we precies moeten doen
    form(action='/action_page.php' target='_blank')
        input.w3-input.w3-border(type='text' placeholder='Naam' required='' name='Naam')
        input.w3-input.w3-section.w3-border(type='text' placeholder='Email' required='' name='Email')
        input.w3-input.w3-section.w3-border(type='text' placeholder='Vraag' required='' name='Vraag')
        button.w3-button.w3-black.w3-border Submit
            i.fa.fa-paper-plane
    div
        img.w3-image(src='images/buiten%20nacht.jpg' alt='Foto publiek + logo NVDJ' width='1640' height='800')

