extends layout

block content


    p Dit is een lijn om de afbeelding van onder de bar te halen
    h1 Contact
    div
        p
            | Indien u nog met vragen zit, verwijzen we u door naar de FAQ pagina. Daar staan enkele vragen
            | beantwoord, en kan u zelf ook vragen indienen.
        ul
            li Meuleschettestraat 32, 9300 Aalst
            li chiro.maeva@gmail.com


    div
        img.w3-image(src='images/buiten%20nacht.jpg' alt='Foto publiek + logo NVDJ' width='1640' height='800')

block footnote
    footer.w3-center.w3-black.w3-padding-16
        div
            //foto link naar socials
            a(href='https://www.facebook.com/nachtvd.aalst')
                img(src="/images/Facebook_Logo-modified-modified.png" height=27 width=27 )
            a(href='https://www.instagram.com/nvdj.aalst/')
                img(src="/images/instagram_logo.png" height=45 width=45)
            // Hier juiste html pagina invullen
            a(href='./Info').w3-bar-item.w3-button Info
            a(href='./Contact').w3-bar-item.w3-button Contact
            a(href='./Vrijwilliger').w3-bar-item.w3-button Vrijwilligers