extends layout

block content


    h1 Contact
    div
        ul
            li Meuleschettestraat 32, 9300 Aalst
            li chiro.maeva@gmail.com
    h2.card-head Nog vragen?

    p
        | Indien u nog vragen hebt, kan u deze hier indienen en zullen wij deze proberen beantwoorden!
        // Nog vragen wat we precies moeten doen
    form.container(method='POST' action='')
        div.form-group
            label(for='naam')
            input#naam.form-control.w3-input.w3-border.w3-section(type='naam', placeholder='Naam' name='naam' required='true' )
        div.form-group
            label(for='email')
            input#email.form-control.w3-input.w3-border.w3-section(type='email', placeholder='Email' name='email' required='true' )
        div.fomr-group
            label(for='vraag')
            input#vraag.form-control.w3-input.w3-border.w3-section(type='text', placeholder='Uw vraag' name='vraag' required='true')
        button.w3-button.w3-black.w3-border(type='submit') Submit

    div
        img.w3-image(src='images/buiten%20nacht.jpg' alt='Foto publiek + logo NVDJ' width='1640' height='800')

