extends layout

block content
    .w3-content.w3-padding(style='max-width:80%;text-align:justify;')
        #Cookies.w3-container
            h2.w3-border-bottom.w3-border-light-grey.w3-padding-16 Cookies
                h3.card-head
                    b Wat zijn cookies?
                p
                        |   Cookies zijn kleine tekstbestanden waarin een kleine hoeveelheid informatie
                        |   opgeslagen staat. Hierdoor kan de webbrowser onthouden wie u bent.
                        |   Afhankelijk van de soort cookies blijft de cookie een bepaalde periode op
                        |   uw computer.

                h3.card-head
                    b Waarvoor worden cookies gebruikt?
                p
                        |   Ze kunnen gebruikt worden voor verschillende doeleinden,
                        |   afhankelijk van het type cookie.
                h3.card-head
                    b Essentiële cookies
                p
                        |   Deze zijn verplicht voor het werken van de site. Met deze cookies
                        | kan u de hele site bezoeken, en alle functies gebruiken.
                h3.card-head
                    b Analyse cookies
                p
                        |Deze cookies analyseren het gedrag van de gebruikers van de website.
                        |Het houdt bijvoorbeeld bij welke pagna's het meest bezocht worden,
                        | of hoe er doorheen de website ganavigeerd wordt.

                h3.card-head
                    b Meer info
                h4 General Protection Regulation GDPR
                a(href='https://gdpr.eu/cookies/' target="_blank") gdpr.eu
                br
                h4 Gegevensbeschermingsautoriteit GBA
                a(href='https://www.gegevensbeschermingsautoriteit.be/burger/cookie' target="_blank") gegevensbeschermingsautoriteit.be