extends layout

block content
    .w3-content.w3-padding(style='max-width:80%;text-align:center;')
        #FAQ.w3-container
            h2.w3-border-bottom.w3-border-light-grey.w3-padding-16 FAQ
                h3.card-head
                    b Wat is de minimum leeftijd om binnen te mogen?
                p
                    | De minimum leeftijd is 14 jaar. Als je jonger bent dan 14 jaar, mag je niet binnen, ook niet als je dit
                    | jaar nog verjaart. Hou dit dus in gedachten voordat je bandjes koopt. Om deze reden is het ook verplicht
                    | om een identiteitskaart mee te nemen.
                h3.card-head
                    b Waar kan ik aan bandjes geraken?
                p
                    | De leiders, aspi&apos;s en kerels van Chiro Maeva verkopen allemaal bandjes. Daarnaast zijn er ook
                    | verschillende verkooppunten zoals Freedom, Comar Sport en Sportcentrum De Schreef. We houden ook wedstrijden om
                    | gratis bandjes te winnen. Er worden geen bandjes aan de kassa verkocht, dus zorg ervoor dat je deze op voorhand
                    | gekocht hebt.

                h3.card-head
                    b Wanneer start de fuif?
                p
                    | De fuif start om 20 uur en eindigt om 4 uur.
                h3.card-head
                    b Handig om te weten:
                ul.a
                    li Het is verplicht om je identiteitskaart mee te nemen, anders mag je niet binnen.
                    br
                    li We aanvaarden alleen cash en payconiq, dus geen bancontact.
                    br
                    li
                        | Wil je je kapoenen in het oog houden, maar ben je al wat ouder? Er is ook een 30+ tent
                        | aanwezig op het terrein!
                h3.card-head
                    b Nog vragen?
                p
                    | Indien u nog vragen hebt verwijzen we u door naar de
                    |
                    a(href='./Contact')  Contact
                    |  pagina!
