extends layout



block content

        //div
            img.to_the_right(src='images/blauw.jpg' alt='blauw' width='10%' height='100%')
            img.w3-disp-right(src='images/LogoTRANSPARANT.png' alt='logo' width='5%' height='70')

            img.to_the_left(src='images/blauw.jpg' alt='blauw' width='10%' height='885')
            img.w3-disp-left(src='images/LogoTRANSPARANT.png' alt='logo' width='5%' height='70')

        divp(style="text-align:center; max-width:80%;")

            h1 FAQ
            h2.card-head Wat is de minimum leeftijd om binnen te mogen?
            p
                | De minimum leeftijd is 14 jaar. Als je jonger bent dan 14 jaar, mag je niet binnen, ook niet als je dit
                | jaar nog verjaart. Hou dit dus in gedachten voordat je bandjes koopt. Om deze reden is het ook verplicht
                | om een identiteitskaart mee te nemen.
            h2.card-head Waar kan ik aan bandjes geraken?
            p
                | De leiders, aspi&apos;s en kerels van Chiro Maeva verkopen allemaal bandjes. Daarnaast zijn er ook
                | verschillende verkooppunten zoals Freedom, Comar Sport en Sportcentrum De Schreef. We houden ook wedstrijden om
                | gratis bandjes te winnen. Er worden geen bandjes aan de kassa verkocht, dus zorg ervoor dat je deze op voorhand
                | gekocht hebt.

            //iframe(src='https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fnachtvd.aalst%2F&tabs=timeline&width=500&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId' width='400' height='500' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowfullscreen='true' allow='autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share')


            h2.card-head Wanneer start de fuif?
            p
                | De fuif start om 20 uur en eindigt om 4 uur.
            h2.card-head Handig om te weten:
            ul.a
                li Het is verplicht om je identiteitskaart mee te nemen, anders mag je niet binnen.
                br
                li We aanvaarden alleen cash en payconiq, dus geen bancontact.
                br
                li
                    | Wil je je kapoenen in het oog houden, maar ben je al wat ouder? Er is ook een 30+ tent
                    | aanwezig op het terrein!
                br
            h2.card-head Nog vragen?
            p
                | Indien je toch nog met vragen zit, kan je al je vragen doorsturen op de contact pagina!


