extends layout
block content
    p Dit is een lijn om de afbeelding van onder de bar te halen
    div
        h1 FAQ
        h2.card-head Wat is de minimum leeftijd om binnen te mogen?
        p
            | De minimum leeftijd is 14 jaar. Als je jonger bent dan 14 jaar, mag je niet binnen, ook niet als je dit
            | jaar nog verjaart. Hou dit dus in gedachten voordat je bandjes koopt. Om deze reden is het ook verplicht
            | om een identiteitskaart mee te nemen.
        h2.card-head Waar kan ik aan bandjes geraken?
        p
            | De leiders, aspi&apos;s en kerels van Chiro Maeva verkopen allemaal bandjes. Daarnaast zijn er ook
            | verschillende verkooppunten zoals Freedom, Comar Sport en Sportcentrum De Schreef. We houden ook wedstrijden om
            | gratis bandjes te winnen. Er worden geen bandjes aan de kassa verkocht, dus zorg ervoor dat je deze op voorhand
            | gekocht hebt.
        h2.card-head Wanneer start de fuif?
        p
            | De fuif start om 20 uur en eindigt om 4 uur.
        h2.card-head Handig om te weten:
        ul.a
            li Het is verplicht om je identiteitskaart mee te nemen, anders mag je niet binnen.
            br
            li We aanvaarden alleen cash en Payconiq, dus geen bancontact.
            br
            li
                | Wil je je kapoenen in het oog houden, maar ben je al wat ouder? Er is ook een 30+ tent
                | aanwezig op het terrein!
            br
        h2.card-head Nog vragen?
        p
            | Indien u nog vragen hebt, kan u deze hier indienen en zullen wij deze proberen beantwoorden!
            // Nog vragen wat we precies moeten doen
        form.container(method='post' action='/FAQ')
                // Nog vragen wat we precies moeten doen
                .form-group
                    input.form-control(type="email", name='email', placeholder="Email")
                .form-group
                    textarea.form-control(type="text", name='vraag' placeholder="Uw vraag")
                button Submit

block footnote
    footer.w3-center.w3-black.w3-padding-16
        div
            // Hier juiste html pagina invullen
            a(href='./Info').w3-bar-item.w3-button Info
            a(href='./Contact').w3-bar-item.w3-button Contact
            a(href='./Vrijwilliger').w3-bar-item.w3-button Vrijwilligers