extends layout

block content
  header#home.w3-display-container.w3-content.w3-wide(style='max-width:100%;')
    img.w3-image(src='images/Foto%202.jpg' alt='Foto publiek + logo NVDJ' width=auto height=auto)
    .w3-display-middle.w3-margin-top.w3-center
  .w3-padding-top-24
    body2
      h5 Countdown tot NVDJ XV
      #countdown.countdown
        .time
          h6#days
          small dagen
        .time
          h6#hours
          small uren
        .time
          h6#minutes
          small minuten
        .time
          h6#seconds
          small seconden
      script(src='/javascripts/countdown.js')
