extends layout

block content
  header#home.w3-display-container.w3-content.w3-wide(style='max-width:1564px;')
    img.w3-image(src='images/Foto%202.jpg' alt='Foto publiek + logo NVDJ' width='1564' height='800')
    .w3-display-middle.w3-margin-top.w3-center

  .w3-content.w3-padding(style='max-width:1564px;text-align:center;')

