extends layout

block content
  header#home.w3-display-container.w3-content.w3-wide(style='max-width:100%;')
    img.w3-image(src='images/Foto%202.jpg' alt='Foto publiek + logo NVDJ' width=auto height=auto)


