extends layout
block content
    p Dit is een lijn om de afbeelding van onder de bar te halen
    #Over.w3-container.w3-padding-32
        h3.w3-border-bottom.w3-border-light-grey.w3-padding-16 Over Nacht Van De Jeugdbeweging
        p
            | Nacht Van De Jeugdbeweging is een jaarlijks evenement dat doorgaat op Dag Van de Jeugdbeweging in Aalst.
            | Het evenement wordt al 14 jaar lang georganiseerd door Chiro Maeva, de jongenschiro van Aalst, en staat volledig
            | in het teken van de jeugdbeweging.
            | Jeugdbewegingen van Aalst en omstreken (of verder) komen hier al meer als 10 jaar lang hun Dag Van De
            | Jeugdbeweging in alle glorie afsluiten.
            | NVDJ is gestart in de feestzaal &apos;t Kapelleke op de meuleschettekoer, waar zo een 100tal mensen aanwezig waren.
            | Wegens het steeds groeiende succes zijn ze een aantal edities later moeten verhuizen naar grotere locaties zoals
            | de Flora Hallen en het Wijngaardveld te Aalst.
            | Tegenwoordig wordt het evenement georganiseerd op het sportterrein van Technigo! aan de Cesar Haeltermanstraat.
            | NVDJ bezorgd de laatste jaren al aan 4500-5000 man een geweldige feestavond.
            | Het evenement staat volop in het teken van jeugdbewegingen maar mensen die niet in de jeugdbeweging zitten zijn
            | zeker ook welkom.
            | Tijdens de avond zelf wordt er ook foodtruck voorzien samen met een feesttent voor onze gasten van +30jaar.
    #sponsors.w3-container.w3-padding-32
        h3.w3-border-bottom.w3-border-light-grey.w3-padding-16 Dank aan
    .w3-row-padding
        .w3-col.l3.m6.w3-margin-bottom
            .w3-display-container
                .w3-display-topleft.w3-black.w3-padding TechniGo!
                img(src='images/TechniGo.jpg' alt='TechniGo! logo' style='width:100%')
        .w3-col.l3.m6.w3-margin-bottom
            .w3-display-container
                .w3-display-topleft.w3-black.w3-padding Primus
                img(src='images/Primus.jpg' alt='Primus logo' style='width:100%')
        .w3-col.l3.m6.w3-margin-bottom
            .w3-display-container
                .w3-display-topleft.w3-black.w3-padding Odisee Hogeschool
                img(src='images/Odisee.png' alt='Odisee Hogeschool logo' style='width:100%')
        .w3-col.l3.m6.w3-margin-bottom
            .w3-display-container
                .w3-display-topleft.w3-black.w3-padding KU Leuven
                img(src='images/KUL.png' alt='KU Leuven logo' style='width:100%')
    .w3-row-padding
        .w3-col.l3.m6.w3-margin-bottom
            .w3-display-container
                .w3-display-topleft.w3-black.w3-padding Comar Sport
                img(src='images/Comar.jpg' alt='Comar Sport logo' style='width:100%')
        .w3-col.l3.m6.w3-margin-bottom
            .w3-display-container
                .w3-display-topleft.w3-black.w3-padding Aceg
                img(src='images/Aceg.jpg' alt='Aceg logo' style='width:100%')
        .w3-col.l3.m6.w3-margin-bottom
            .w3-display-container
                .w3-display-topleft.w3-black.w3-padding Slagerij De Jaeger
                img(src='images/De%20Jaeger.png' alt='Slagerij De Jaeger logo' style='width:100%')
        .w3-col.l3.m6.w3-margin-bottom
            .w3-display-container
                .w3-display-topleft.w3-black.w3-padding Argenta
                img(src='images/Argenta.jpg' alt='Argenta logo' style='width:100%')
    .w3-row-padding
        .w3-col.l3.m6.w3-margin-bottom
            .w3-display-container
                .w3-display-topleft.w3-black.w3-padding DMB
                img(src='images/DMB.jpg' alt='DMB logo' style='width:100%')
        .w3-col.l3.m6.w3-margin-bottom
            .w3-display-container
                .w3-display-topleft.w3-black.w3-padding Bakkerij Lowie
                img(src='images/Lowie.jpg' alt='Bakkerij Lowie logo' style='width:100%')
block footnote
    footer.w3-center.w3-black.w3-padding-16
        div
            // Hier juiste html pagina invullen
            a(href='./Info').w3-bar-item.w3-button Info
            a(href='./Contact').w3-bar-item.w3-button Contact
            a(href='./Vrijwilliger').w3-bar-item.w3-button Vrijwilligers