doctype html
//eerste lijn om website smartphone vriendelijk te maken
html
  head
    title Nacht Van De Jeugdbeweging
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon' type='image/png' href='/images/favicon-32x32.png')
    link(href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet')


  body
    nav
      .navbar
        i.bx.bx-menu
        .logo
          a(href='./') NVDJ AALST
        .nav-links
          .sidebar-logo
            span.logo-name NVDJ
            i.bx.bx-x
          ul.links
            li
              a(href='./') HOME
            li
              a(href='./Line-up') LINE UP
            li
              a(href='./Locatie') LOCATIE
            li
              a(href='./FAQ') FAQ
            li
              a(href='./Vrijwilliger') VRIJWILLIGERS
    script(src='/javascripts/sideBar.js')

    .w3-padding-top-64.w3-padding-bottom-8
      block content

    footer.w3-center.w3-black.w3-padding-16
      a(href='https://www.facebook.com/nachtvd.aalst')
        img.w3-image(src="/images/Facebook_Logo-modified-modified.png" height=27 width=27 )
      a(href='https://www.instagram.com/nvdj.aalst/')
        img.w3-image(src="/images/instagram_logo.png" height=45 width=45)
      a(href='./Info').w3-bar-item.w3-button
        b Info
      a(href='./Contact').w3-bar-item.w3-button
        b Contact
      a(href='./Cookies').w3-bar-item.w3-button
        b Cookies

