extends layout

block content
    .w3-content.w3-padding(style='max-width:100%;text-align:center;')
        #djs.w3-container.w3-padding-16
            .w3-row-padding
                .w3-col.l3.m6.w3-margin-bottom
                    .w3-display-container
                        .w3-display-topleft.w3-black.w3-padding 20u-21u
                        img(src='images/Duivenmelker.jpg' alt='DJ DUIVENMELKER' style='width:100%')
                .w3-col.l3.m6.w3-margin-bottom
                    .w3-display-container
                        .w3-display-topleft.w3-black.w3-padding 21u-22u
                        img(src='images/Gustjn.jpg' alt='DJ GUSTJN' style='width:100%')
                .w3-col.l3.m6.w3-margin-bottom
                    .w3-display-container
                        .w3-display-topleft.w3-black.w3-padding 22u-23u
                        img(src='images/Speku.jpg' alt='DJ SPEKU' style='width:100%')
                .w3-col.l3.m6.w3-margin-bottom
                    .w3-display-container
                        .w3-display-topleft.w3-black.w3-padding 23u-00u
                        img(src='images/GuntherD.jpg' alt='DJ GUNTHER D' style='width:100%')
            .w3-row-padding
                .w3-col.l3.m6.w3-margin-bottom
                    .w3-display-container
                        .w3-display-topleft.w3-black.w3-padding 00u-01u
                        img(src='images/AverageRobOHK.jpg' alt='DJ OHK & AVERAGE ROB' style='width:100%')
                .w3-col.l3.m6.w3-margin-bottom
                    .w3-display-container
                        .w3-display-topleft.w3-black.w3-padding 01u-02u
                        img(src='images/Arnage.jpg' alt='DJ ARNAGE' style='width:100%')
                .w3-col.l3.m6.w3-margin-bottom
                    .w3-display-container
                        .w3-display-topleft.w3-black.w3-padding 02u-03u
                        img(src='images/Dibbs.jpg' alt='DJ DIBBS' style='width:100%')
                .w3-col.l3.m6.w3-margin-bottom
                    .w3-display-container
                        .w3-display-topleft.w3-black.w3-padding 03u-04u
                        img(src='images/Postmaan.jpg' alt='DJ POSTMAAN' style='width:100%')
    .w3-content.w3-padding(style='max-width:80%;text-align:center;')
        #djcontest.w3-container
            h2.w3-border-bottom.w3-border-light-grey.w3-padding-16 DJ contest