extends layout

block content
    .w3-content.w3-padding(style='max-width:100%;text-align:justify;')
        #djs.w3-container.w3-padding-16
            .w3-row-padding
                .w3-col.l3.m6.w3-margin-bottom
                    .container
                        .w3-display-topleft.w3-black.w3-padding 20u-21u
                        img(src='images/Duivenmelker.jpg' alt='DJ DUIVENMELKER' style='width:100%')
                        button.myBtn_multi.middle
                            .neontext DUIVENMELKER
                        .modal.modal_multi
                            .modal-content
                                span.close.close_multi &times;
                                h4  DUIVENMELKER
                                p
                                    |   Deze man zal dit jaar officieel Nacht van de Jeugdbeweging openen!
                                    |   Een gek feestje bouwen is voor hem geen probleem. Alles genres zijn gekend bij hem!
                                    |   Met zijn sexy beats en zijn overweldigend enthousiasme smijt hij de deuren open van een fantatstische avond!
                                    br
                                a(href='https://www.facebook.com/djduivenmelker')
                                    img.w3-image.w3-padding(src="/images/facebookLogoKlaar.jpg" height=80 width=80)

                                a(href='https://www.instagram.com/djduivenmelker/')
                                    img.w3-image.w3-padding(src="/images/InstagramLogoKlaar.png" height=80 width=80)

                .w3-col.l3.m6.w3-margin-bottom
                    .container
                        .w3-display-topleft.w3-black.w3-padding 21u-22u
                        img.img(src='images/Gustjn.jpg' alt='DJ GUSTJN' style='width:100%')
                        button.myBtn_multi.middle
                            .neontext GUSTJ'N
                        .modal.modal_multi
                            .modal-content
                                span.close.close_multi &times;
                                h4  GUSTJ'N
                                p
                                    |   Ja hoor hij is terug!
                                    |   Vorig jaar won deze kerel onze DJ-contest en opende de avond zo geweldig dat hij hier dit jaar weer staat!
                                    |   Wie kent deze man nog niet?
                                    |   Hij speelt onder 2 namen en overal waar hij draait vliegen de pannen van het dak!
                                    |   Met hem op ons podium staat de tent gegarandeerd op stelten!
                                    br
                                a(href='https://www.facebook.com/Gustjn')
                                    img.w3-image.w3-padding(src="/images/facebookLogoKlaar.jpg" height=80 width=80)

                                a(href='https://www.instagram.com/gustj_n/')
                                    img.w3-image.w3-padding(src="/images/InstagramLogoKlaar.png" height=80 width=80)

                .w3-col.l3.m6.w3-margin-bottom
                    .container
                        .w3-display-topleft.w3-black.w3-padding 22u-23u
                        img.img(src='images/Speku.jpg' alt='DJ SPEKU' style='width:100%')
                        button.myBtn_multi.middle
                            .neontext SPEKU
                        .modal.modal_multi
                            .modal-content
                                span.close.close_multi &times;
                                h4  SPEKU
                                p
                                    |   Nacht van de jeugdbeweging XIII staat weer vlak voor de deur en natuurlijk is zo'n evenement niet veel zonder DJ’s.
                                    |   Bij deze kondigen wij ons eerste DJ-talent aan!
                                    |   Deze jonge knaap is intussen al goed gekend in het Aalsterse nachtleven en weet zeker van aanpakken.
                                    |   Aan de knoppen draaien is voor hem geen probleem, stilstaan zal dus geen optie zijn wanneer je zijn stevige beats te horen krijgt.
                                    br
                                a(href='https://www.facebook.com/DjSpeku')
                                    img.w3-image.w3-padding(src="/images/facebookLogoKlaar.jpg" height=80 width=80)

                                a(href='https://www.instagram.com/speku.vdh/')
                                    img.w3-image.w3-padding(src="/images/InstagramLogoKlaar.png" height=80 width=80)

                .w3-col.l3.m6.w3-margin-bottom
                    .container
                        .w3-display-topleft.w3-black.w3-padding 23u-00u
                        img.img(src='images/GuntherD.jpg' alt='DJ GUNTHER D' style='width:100%')
                        button.myBtn_multi.middle
                            .neontext GUNTHER D
                        .modal.modal_multi
                            .modal-content
                                span.close.close_multi &times;
                                h4  GUNTHER D
                                p
                                    |   The man, the legend, iedereen kent hem wel!
                                    |   Groot man van Studio Brussel en held achter de decks!
                                    |   We zijn blij onze goeie vriend Gunther D terug te mogen verwelkomen!
                                    br
                                a(href='https://www.facebook.com/guntherdesamblanx')
                                    img.w3-image.w3-padding(src="/images/facebookLogoKlaar.jpg" height=80 width=80)

                                a(href='https://www.instagram.com/djgunther/')
                                    img.w3-image.w3-padding(src="/images/InstagramLogoKlaar.png" height=80 width=80)

            .w3-row-padding
                .w3-col.l3.m6.w3-margin-bottom
                    .container
                        .w3-display-topleft.w3-black.w3-padding 00u-01u
                        img.img(src='images/AverageRobOHK.jpg' alt='DJ OHK SOUNDSYSTEM & AVERAGE ROB' style='width:100%')
                        button.myBtn_multi.middle
                            .neontext OHK SOUNDSYSTEM & AVERAGE ROB
                        .modal.modal_multi
                            .modal-content
                                span.close.close_multi &times;
                                h4  OHK SOUNDSYSTEM & AVERAGE ROB
                                p
                                    |   BOITEN BOITEN BOITEN!!!
                                    |   Zijn jullie klaar om dit jaar samen te boiten met de boys??
                                    |   Deze legendes zijn overal bekend, het zijn dan ook DE BOITERS van het universum.
                                    |   Met de gekke mixskills van OHK en de energieke Average Rob is het uiteraard feesten geblazen.
                                    |   De brandblussers staan alvast klaar want met deze boys op ons podium staat de tent gegarandeerd in vuur en vlam!
                                    br
                                a(href='https://www.facebook.com/omdathetkansoundsystem/')
                                    img.w3-image.w3-padding(src="/images/facebookLogoKlaar.jpg" height=80 width=80)

                                a(href='https://www.instagram.com/omdathetkansoundsystem/')
                                    img.w3-image.w3-padding(src="/images/InstagramLogoKlaar.png" height=80 width=80)

                .w3-col.l3.m6.w3-margin-bottom
                    .container
                        .w3-display-topleft.w3-black.w3-padding 01u-02u
                        img.img(src='images/Arnage.jpg' alt='DJ ARNAGE' style='width:100%')
                        button.myBtn_multi.middle
                            .neontext ARNAGE
                        .modal.modal_multi
                            .modal-content
                                span.close.close_multi &times;
                                h4  ARNAGE
                                p
                                    |   Ook dit jaar zal deze man de pannen weer van het dak komen spelen, jaar na jaar doet hij het opnieuw en we verwachten dit jaar niet anders!
                                    |   Deze spetter is wellicht door iedereen gekend in Aalst en omstreken en een vaste waarde op onze Nacht van de Jeugdbeweging.
                                    |   Zet jullie maar schrap want hij weet van grote menigtes aan te pakken!
                                    br
                                a(href='https://www.facebook.com/arnage98')
                                    img.w3-image.w3-padding(src="/images/facebookLogoKlaar.jpg" height=80 width=80)

                                a(href='https://www.instagram.com/arnage_official/')
                                    img.w3-image.w3-padding(src="/images/InstagramLogoKlaar.png" height=80 width=80)

                .w3-col.l3.m6.w3-margin-bottom
                    .container
                        .w3-display-topleft.w3-black.w3-padding 02u-03u
                        img.img(src='images/Dibbs.jpg' alt='DJ DIBBS' style='width:100%')
                        button.myBtn_multi.middle
                            .neontext DIBBS
                        .modal.modal_multi
                            .modal-content
                                span.close.close_multi &times;
                                h4  DIBBS
                                p
                                    |   Deze twee kastaars zijn ook weer van de partij, dit jaar is het hun 5e jubilee op de nacht en hebben dus heel wat ervaring bij ons.
                                    |   We zijn er zeker van dat ze het dit jaar weer fantastisch zullen doen!
                                    |   Genres bestaan niet voor deze twee heren, ze gooien alles door elkaar en gaan hard.
                                    |   Bereid jullie voor  om volledig stuk te gaan want bij hun zijn er dan ook echt geen grenzen!
                                    br
                                a(href='https://www.facebook.com/djduodibbs')
                                    img.w3-image.w3-padding(src="/images/facebookLogoKlaar.jpg" height=80 width=80)

                .w3-col.l3.m6.w3-margin-bottom
                    .container
                        .w3-display-topleft.w3-black.w3-padding 03u-04u
                        img.img(src='images/Postmaan.jpg' alt='DJ POSTMAAN' style='width:100%')
                        button.myBtn_multi.middle
                            .neontext POSTMAAN
                        .modal.modal_multi
                            .modal-content
                                span.close.close_multi &times;
                                h4  POSTMAAN
                                p
                                    |   Last but not least, onze entertainer voor de overblijvers.
                                    |   Hij sluit onze nacht af met harde klassiekers en dikke schijven.
                                    |   Onze eigenste DJ Postmaan!
                                    br
                                a(href='https://www.facebook.com/djpostmaan')
                                    img.w3-image.w3-padding(src="/images/facebookLogoKlaar.jpg" height=80 width=80)

    script(src='/javascripts/modal.js')


    .w3-content.w3-padding(style='max-width:80%;text-align:center;')
        #djcontest.w3-container
            h2.w3-border-bottom.w3-border-light-grey.w3-padding-16 Deelnemen aan dj contest?
            p
                |   Net zoals vorige jaren geven wij nieuw dj talent de kans om eens te tonen wat ze in hun mars hebben.
                |   Als jij graag kans maakt om eens een uurtje op NVDJ te spelen voor een groot publiek kan je hier een link naar jouw mix indienen.
                |   Uit deze inzendingen zal het management team van NVDJ de 3 beste inzendingen uitkiezen.
                |   Deze worden dan op de NVDJ Facebook pagina bekend gemaakt.
                |   Wie de uiteindelijke dj contest wint zal dan bepaald worden door het publiek via een openbare stemming op Facebook.
                br

            h4 VOORWAARDEN:
            ul.a
                li  Wij accepteren inzendingen tot de voorlaatste zondag voor het evenement (9 Oktober).
                br
                li  De mix moet openbaar beluisterbaar zijn (Soundcloud, Mixcloud, Youtube).
                br
                li  De mix duurt minimum 20 minuten en maximum een halfuur.
                br
                li  Je mag vrij kiezen welke genres je in de mix steekt.

            form(method='POST')
                label(for='naam')
                input#naam.form-control.w3-input.w3-border.w3-section(type='text', placeholder='Voornaam + naam' name='naam' required='true' )
                label(for='email')
                input#email.form-control.w3-input.w3-border.w3-section(type='email', placeholder='Email' name='email' required='true' )
                label(for='artiest')
                input#artiest.form-control.w3-input.w3-border.w3-section(type='text', placeholder='Dj naam' name='artiest' required='true' )
                label(for='inzending')
                input#inzending.form-control.w3-input.w3-border.w3-section(type='url', placeholder='Mix (http://www.example.com)' name='inzending' required='true' size="30" minlength="10" maxlength="80" )
                button.w3-button.w3-black.w3-border(type='submit') Submit



