extends layout

block content
    .w3-content.w3-padding(style='max-width:1564px;text-align:center;')
        .w3-center
            p
                | Locatie: Sporthal De Voorstad, Cesar Haeltermanstraat 71 9300 Aalst
                br
                |     De in- en uitgang is langs Cesar Haeltermanstraat 71.
                br
            iframe(src='https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d2513.836564306146!2d4.0261061!3d50.9452355!3m2!1i1024!2i768!4f13.1!5e0!3m2!1snl!2sbe!4v1636649843597!5m2!1snl!2sbe' width='1000' height='650' style='border:10;' allowfullscreen='' loading='lazy')


