extends layout

block content
    .w3-content.w3-padding(style='max-width:80%;text-align:center;')
         p
            | Zin om te helpen op de Nacht van de jeugd beweging? Vul dan zeker onderstaand formulier in zodat we je kunnen contacteren.
            br
            |     We zoeken nog mensen voor aan de toog, bandjes te controleren, opbouw en afbreken van de installaties etc.
            //forumlier om intevullen

