extends layout

block content
    .w3-content.w3-padding(style='max-width:80%;text-align:center;')
         p
            | Zin om te helpen op de Nacht van de jeugd beweging? Vul dan zeker onderstaand formulier in zodat we je kunnen contacteren.
            br
            | We zoeken nog mensen voor aan de toog, bandjes te controleren, opbouw en afbreken van de installaties etc.
            br
            | Wij werken alle dagen van woensdag 19/10/2022 to zondag 23/10/2022
            //forumlier om intevullen
         .w3-center
             form(method='POST')
                 label(for='naam')
                 input#naam.form-control.w3-input.w3-border.w3-section(type='naam', placeholder='Voornaam + naam' name='naam' required='true' )
                 label(for='email')
                 input#email.form-control.w3-input.w3-border.w3-section(type='email', placeholder='Email' name='email' required='true' )
                 label(for='wanneerBeschikbaar')
                 input#wanneerBeschikbaar.form-control.w3-input.w3-border.w3-section(type='text', placeholder='Beschikbaarheid' name='wanneerBeschikbaar' required='true' )
                 button.w3-button.w3-black.w3-border(type='submit') Submit

