@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

*{
    box-sizing: border-box;
}
body {
    background-image: image("public/images/249906045_3162711030626072_6862453147364152256_n.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    height: auto;
    font-family: "Shadows Into Light",cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    margin:0;
    overflow: hidden;
}
h1{
    font-weight: normal;
    font-size: 60px;
    margin: -150px 0 40px;
}
.countdown{
    display: flex;
    transform: scale(2);
}
.time{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}
.time h2{
    font-weight: bold;
    font-size: 36px;
    line-height: 1;
    margin: 0 0 5px;
}

@media(max-width: 500px){
    h1{
        font-size: 45px;
    }
    .time{
        margin: 5px;
    }
    .time h2{
        font-size: 12px;
    }
    .time small{
        font-size: 10px;
    }
}